/*font-family: 'Squada One', cursive;
font-family: 'Sriracha', cursive;*/
/*#d35400 - dark orange*/

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Sriracha', cursive;
	list-style: none;
}

.sidebar {
	position: fixed;
	/*left: -240px;*/
	left: 0px;
	width: 240px;
	height: 100%;
	background: #353535;
	transition: all .5s ease;
	border-right: 2px solid #d35400;
	box-shadow: 5px 5px 20px #d35400;
}

.logo {
	user-select: none;
	height: 140px;
	width: 140px;
	display: block;
	margin: 40px auto;
	border-radius: 100%;
	margin-bottom: 50px;
	border: 2px solid #d35400;
}

.sidebar a {
	display: block;
	color: white;
	height: 65px;
	width: 100%
	line-height: 65px;
	padding: 17px;
	border-bottom: 1px solid rgba(255,255,255,.1);
	border-top: 1px solid black;
	border-left: 5px solid transparent;
	box-sizing: border-box;
	transition: all .5s ease;
	font-family: 'Squada One', cursive;
}

.sidebar a:hover, a.active {
	border-left: 5px solid #b93632;
	color: #d35400;
}
.sidebar a i {
	font-size: 23px;
	margin-right: 16px;
}

.sidebar a span {
	letter-spacing: 1px;
	text-transform: uppercase;
}

p a:hover {
	color: #d35400;	
}

li a {
	color: black;
}

li a:visited {
	color: black;	
}

li a:hover, a.active {
	color: #d35400;
}


.container {
	margin-left: 240px;
	transition: all .5s ease;
}

#check {
	display: none;
}

label #btn, label #cancel {
	opacity: 0.6;
	position: absolute;
	cursor: pointer;
	background: #262626;
	height: 45px;
	width: 45px;
	text-align: center;
	line-height: 45px;
	color: white;
	font-size: 29px;
	border-radius: 5px;
	margin: 15px 260px;
	border: 1px solid #262626;
	transition: all .5s ease;
	position: fixed;

}

label #cancel {
	opacity: 0;
	visibility: hidden;
}

#check:checked ~ label #btn {
	margin-left: 30px;
	opacity: 0;
	visibility: hidden;
	transition: all .5s ease;
}

#check:checked ~ label #cancel {
	margin-left: 25px;
	opacity: 0.6;
	visibility: visible;
	transition: all .5s ease;
	position: fixed;
}

#check:checked ~ .sidebar {
	left: -240px;
	transition: all .5s ease;
}

#check:checked ~ .container {
	margin-left: 0px;
	transition: all .5s ease;
}
/*#check:checked ~ ul {
	margin-left: 0;
}*/

/*Sections*/
html {
	scroll-behavior: smooth;
}
.profile {
	min-height: 100vh;
	/*background-image: url(./../images/ProfileBG.jpg);*/
	background-image: radial-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("./../images/BGprofile.jpeg");
	background-size: 100% 100%;
/*	background-attachment: fixed;*/
	background-repeat: no-repeat;	 
}
#fname {
	color: #d35400;
	font-size: 47px;
}
.box1 {
	color: #D8D8D8;
	position: absolute;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 15%;
	font-size: 33px;
	text-align: center;
}

.skills {
	min-height: 100vh;
	background-color: #FFFFF9;
}

.h1Skills {
	color: #212120;
	font-size: 50px;
	text-align: center;	
	text-shadow: 5px 5px 8px #7A7A77;
}

.skillsLogo {
	margin-top: 50px;
	margin-left: 50px;

}

.skillsLogo img {
	height: 100px;
	width: 100px;
	margin: 0 29px 0 29px;
	
}
.skillsLogo img:hover {
	/*background: transparent;
	box-shadow: 10px 10px 5px rgba(0,0,0,0.5);*/
	transform: scale(1.1);
	}

.divSkills {
	display: inline-block;
}

figcaption {
	text-align: center;
	font-size: 20px;
	margin-bottom: 70px;
}



.projects {
	min-height: 100vh;
	background-color: #212121;
}

strong {

	color: #d35400;
}

.h1Projects {
	color: #D8D8D8;
	font-size: 50px;
	text-align: center;
}
.container2 {
	width: 700px;
	margin: 15px auto;
	position: relative;
  	border-radius: 20px;
  	overflow: hidden;
  	
}
.container2 img {
	width: 100%;
	height: auto;
	border-radius: 20px;
	transition: all .5s;
}
.container2:hover {
	transform: scale(1.02);
	transition: all .5s;
}
.container2 .content {
	background: rgba(0,0,0,.7);
	position: absolute;
	top: -100%;
	left: 0;
	text-align: justify;
	width: 100%;
	height: 99%;
	border-radius: 20px;
	color: white;
	box-sizing: border-box;
	transition: all .5s;
}

.container2:hover .content {
	top: 0;
}

.content h3 {
	text-align: center;
	font-size: 35px;
	border-bottom: 1px solid #808080;
	padding: 20px 10px 20px 10px;
}
.content p {
	padding: 120px 20px 15px 20px;
	font-size: 20px;
}
p a {
	color: white;
}

.link {
	visibility: hidden;
}

/*.container2 .icons {
	background: transparent;
	color: white;
	font-size: 20px;
	padding-bottom: 10px;
	position: absolute;
	bottom: -100%;
	transition: all .5s;*/
	/*text-align: center;*/
/*}
.icons p {*/
	/*text-align: center;*/
	/*margin-left: auto;*/
	/*margin-right: auto;*/
/*	color: pink;
	transition: all .5s;
}*/

.container2:hover .icons {
	bottom: 0;
	text-align: center;
	color: pink;
}


.box3 h5 {
	color: #D8D8D8;
	font-size: 25px;
	text-align: center;
	margin-top: 50px;
}

.box3 p {
	color: #D8D8D8;
	text-align: center;
	margin-top: 7px;
	margin-left: 15px;
	margin-right: 15px;
	padding-left: 110px;
	padding-right: 110px;
}
.lastProject {
	padding-bottom: 50px;
}

.contacts {
	min-height: 90vh;
	background-color: #FFFFF9;	
}
.touch {
		text-align: center;
		font-size: 16px;
	}
.touch h2 {
	margin-top: 25px;
	margin-bottom: 8px;
}
.contactBottom {
	padding-bottom: 50px;
}

.footer {
	background-color: #212121;
	color: #D8D8D8;
	text-align: center;
	min-height: 10vh;
	bottom: -5px;
}
ul {
	/*margin-left: 240px;*/
	width: 100%;
	display: flex;
	margin: 0;
	padding: 0;
}

ul li {
	position: relative;
	display: block;
	color: #171515;
	font-size: 30px;
	height: 60px;
	width: 60px;
	background: #d35400;
	line-height: 60px;
	border-radius: 50%;
	margin: 15px 20px;
	cursor: pointer;
	transition: .5s;
}
.LinkedIn {
	margin-left: auto;
}
.Instagram {
	margin-right: auto;
}

ul li:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	background: #353535;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	z-index: -1;
	transform: scale(0.9);
	transition: .5s;
}

ul li:hover {
	filter: blur();
	transform: scale(1.2);
	color: #d35400;
	box-shadow: 0 0 25px #d35400;
}









/*Media query*/

@media (max-width: 860px) {
	.sidebar {
		height: 100%;
		width: 50px;
		left: 0;
		/*margin: 100px 0;*/
	}
	.logo, #btn, #cancel {
		display: none;
	}
	span {
		position: absolute;
		margin-left: 23px;
		margin-top: 23px;
		opacity: 0;
		visibility: hidden;
	}
	.sidebar a i {
		margin-left: -7px;
		margin-top: 0px;
	}
	a:hover {
		width: 200px;
		background: inherit;
	}
	.sidebar a:hover span {
		opacity: 1;
		visibility: visible;
		margin-top: 2px;
	}
	.container {
		margin-left: 50px;
	}
	.profile {
		/*background-position: center center;
		background-attachment: fixed;*/
	}
	.box1 {
		color: #D8D8D8;
		position: absolute;
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 120px;
		font-size: 20px;
		text-align: center;
	}
	#fname {
		color: #d35400;
		font-size: 35px;
	}


	.h1Skills {
		color: #212120;
		font-size: 30px;
		text-align: center;	
		text-shadow: 5px 5px 8px #7A7A77;
	}
	.skillsLogo {
	margin:0 0 0 28px;

	}
	.skillsLogo img {
		height: 40px;
		width: 40px;
		margin: 12px;	
	}

	figcaption {
		text-align: center;
		font-size: 15px;
		margin-bottom: 20px;
	}

	.h1Projects {
		color: #D8D8D8;
		font-size: 30px;
		text-align: center;
	}

	.box3 img {
		width: 280px;
		display: block;
	 	margin-left: auto;
	  	margin-right: auto;
	  	border-radius: 20px;
	}

	.box3 p {
		padding-left: 5px;
		padding-right: 5px;
	}

	.link {
		margin-bottom: 15px;
		visibility: visible;
	}

	.footer p {
		padding: 4px;

	}

	ul {
		margin-left: 13%;
		display: flex;
	}
	ul li {
		margin: 0px 8px;
	}

	.container2 {
		width: 90%;
		/*margin: 15px auto;*/
		position: relative;
	  	border-radius: 20px;
	  	overflow: hidden;
	  	
	}
	.container2 img {
		width: 100%;
		height: auto;
		border-radius: 20px;
		transition: all .5s;
	}
	.container2:hover {
		transform: scale(1.02);
		transition: all .5s;
	}
	.container2 .content {
		background: rgba(0,0,0,.7);
		position: absolute;
		top: -100%;
		left: 0;
		text-align: justify;
		width: 100%;
		height: 99%;
		border-radius: 20px;
		color: white;
		box-sizing: border-box;
		transition: all .5s;
	}

	.container2:hover .content {
		top: 0;
	}

	.content h3 {
		text-align: center;
		font-size: 20px;
		border-bottom: 1px solid #808080;
		/*padding: 20px 10px 5px 10px;*/
	}
	.content p {
		padding: 0;
		font-size: 10px;
	}

	p a {
		color: white;
	}

	.box3 h5 {
		color: #D8D8D8;
		font-size: 25px;
		text-align: center;
		margin-top: 50px;
	}

	.box3 p {
		color: #D8D8D8;
		text-align: center;
		margin-top: 7px;
		margin-left: 5px;
		margin-right: 5px;
		padding-left: 5px;
		padding-right: 5px;
	}

	ul {
		margin: 0;
		display: flex;
	}

	ul li {
		position: relative;
		display: block;
		color: #171515;
		font-size: 30px;
		height: 60px;
		width: 60px;
		background: #d35400;
		line-height: 60px;
		border-radius: 50%;
		margin: 15px 20px;
		cursor: pointer;
		transition: .5s;
		text-align: center;
	}


}